main {
    font-size: small;
    text-align: center;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.gray {
    color: silver;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.container {
    margin: 0px 5px;
    padding:0;
}