<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="create_date_form" method="post">
        稼働日初日<input type="date" name="create_date" id="create_date"><br>
        稼働日最終日<input type="date" name="last_date" id="last_date"><br>
        <input type="submit" value="作成">
    </form>
</body>
</html>