<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet"  href="/static/css/style.css">
  <title>残業管理アプリ</title>
  <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous">
  </script>
</head>

<body>
  <main>
    <div id="title" class="title">残業時間</div>
    <form name="f" method="post">
      <!-- <div class="text_area">
        <input type="date" name="new_date" id="new_date">
        <input type="number" name="new_text" id="new_text">
      </div> -->
      月間予定残業
      <input type="text" name="scheduled_overtime" id="scheduled_overtime" value="{{ scheduled_overtime }}">hr<br>
      前月最終日36残業時間
      <input type="text" name="last_month_36_overtime" id="last_month_36_overtime" value="{{ last_month_36_overtime }}">hr<br>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>出勤日</th>
            <th>日付</th>
            <th>曜日</th>
            <th>残業時間</th>
            <th>休日残業</th>
            <th>月間残業</th>
            <th>36残業</th>
          </tr>
        </thead>
        <tbody>
          {% for overtime in overtimes %}
            <tr>
              <td>
                {{ overtime.id }}
              </td>
              <td>
                  {% if overtime.status == 0 %}
                  <label class="gray"><input type="radio" name="status_{{overtime.id}}" value=1>出</label>
                  <label><input type="radio" name="status_{{overtime.id}}" value=0 checked>休</label>
                  {% else %}
                  <label><input type="radio" name="status_{{overtime.id}}" value=1 checked>出</label>
                  <label class="gray"><input type="radio" name="status_{{overtime.id}}" value=0>休</label>
                  {% endif %}
              </td>
              <td>
                {{ overtime.date }}
              </td>
              <td>
                {% if overtime.weekday == 0 %}月
                {% elif overtime.weekday == 1 %}火
                {% elif overtime.weekday == 2 %}水
                {% elif overtime.weekday == 3 %}木
                {% elif overtime.weekday == 4 %}金
                {% elif overtime.weekday == 5 %}土
                {% elif overtime.weekday == 6 %}日
                {% endif %}
              </td>
              <td>
                {% if overtime.time == 0 %}
                <input type="text" value="{{ overtime.time }}" name = "time_{{overtime.id}}" id="time_{{overtime.id}}" size="7">
                {% else %}
                <input type="text" value="{{ overtime.time }}" name = "time_{{overtime.id}}" id="time_{{overtime.id}}" size="7" class="red">
                {% endif %}
              </td>
              <td>
                {% if overtime.holiday_time == 0 %}
                <input type="text" value="{{ overtime.holiday_time }}" name = "holiday_time_{{overtime.id}}" id="holiday_time_{{overtime.id}}" size="7">
                {% else %}
                <input type="text" value="{{ overtime.holiday_time }}" name = "holiday_time_{{overtime.id}}" id="holiday_time_{{overtime.id}}" size="7"  class="blue">
                {% endif %}
              </td>
              <td>
                {{ overtime.total_time}}
              </td>
              <td>
                {{ overtime.time_36}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <input type="submit" value="更新">
    </form>
  </main>

  <a href="/create">データ作成</a>  
  <a href="/delete">データ削除</a>
<!-- 
  <script>
    $(document).ready(function(){
      $('#new_text').keydown(function(e) {
        if (e.keyCode == 13) {
          $('form[name="f"]').attr('action', '/new')
          $('form[name="f"]').submit();
        }
      });
    });
  </script>   -->
</body>

</html>
